django>=5.1,<6
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg[binary]
python-dotenv
requests
Pillow
gunicorn
pytest-cov
pip-audit
pywebpush
django-redis
channels>=4.1,<5
channels-redis>=4.2,<5
daphne>=4.1,<5
drf-spectacular
sentry-sdk
